.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
serving_dir
*.csv
.ipynb_checkpoints/
*.gz
*.parquet
*-deployment.yaml
*.json
**/fhvhv
**/data/*
**/tmp/*
**/zones/*